html,
body {
    display: block;
    height: 100%;
    margin: 0;
    font-size: small;
    font-family: arial, sans-serif;
    overflow: auto;
}

#main {
    display: flex;
    justify-content: center;
    padding-top: 130px;

    height: 100%;
}

#navbar {
    list-style-type: none;
    margin: 15px auto;
    padding: 10px;

    display: flex;
    justify-content: flex-end;
}

.navbar-item {
    display: inline;
    padding-left: 13px;
    margin-left: 5px;
}

.navbar-link {
    color: inherit;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    background-image: url('https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png');
    background-repeat: no-repeat;
    background-position: center top;
}

#search-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 500px;
}

#search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 44px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
}

#search {
    border: none;
    border-radius: 24px;
    margin-left: 10px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-top: 20px;
}

#languages {
    display: inline-block;
    line-height: 28px;
    margin-top: 12px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;

    background: #f2f2f2;
}

.footer-bar {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    line-height: 40px;
    border: 1px solid #e4e4e4;
}

.button {
    font-size: 14px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    font-family: arial, sans-serif;
    text-align: center;
    cursor: pointer;
}

a { 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar-link:hover {
    color: rgba(0, 0, 0, 0.75);
}

#google-apps {
    display: inline-block;
    opacity: .55;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

#google-apps:hover {
    opacity: 1;
}

#google-one {
    margin-top: -5px;
}


#google-one:hover {
    cursor: pointer;
}

#user-icon {
    display: block;
    position: relative;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin: -1px;
    margin-top: -38px;
    margin-left: 4px;
}

#svg-holder {
    display: block;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    line-height: 24px;
}

#magnifying-glass {
    height: 100%;
    width: 100%;
    color: #9AA0A6;
    fill: currentColor;
}

#location-label {
    margin-left: 30px;
}

#links-left {
    float: left;
}

#links-right {
    float: right;
}

.footer-link {
    padding-left: 27px;
    color: inherit;
}