html,
body {
    height: 100%;
    margin: 0;
    font-size: small;
    font-family: arial, sans-serif;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    height: 400px;
    background-image: url('https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png');
    background-repeat: no-repeat;
    background-position: center top;
}

#search-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 500px;
}

#search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 44px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
}

#search {
    border: none;
    border-radius: 24px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-top: 20px;
}

#languages {
    display: inline-block;
    line-height: 28px;
    margin-top: 12px;
}

.button {
    font-size: 14px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    font-family: arial, sans-serif;
    text-align: center;
    cursor: pointer;
}

a { text-decoration: none; }